<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Table</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand text-white">
        <b>admin@mail.ru</b> with roles: ADMIN USER
    </div>
    <a class="navbar-header text-muted text-right" href="/logout">Logout</a>
</nav>

<div class="container py-5">
    <div th:fragment="table">
        <div class="card">
            <div class="card-header"><b>All users</b></div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="person : ${listUsers}">
                        <td th:utext="${person.getId()}">ID</td>
                        <td th:utext="${person.getFirstName()}">First Name</td>
                        <td th:utext="${person.getLastName()}">Last Name</td>
                        <td th:utext="${person.getAge()}">Age</td>
                        <td th:utext="${person.getEmail()}">Email</td>
                        <td>
                            <th:block th:each="role : ${person.getRoles()}">
                                <th:block th:utext="${role.getRole()} + ';'">&nbsp;</th:block>
                            </th:block>
                        </td>
                        <!-- =========================EDIT-->
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    th:attr="data-target='#myModal' + ${person.getId()}">Edit</button>
                            <div th:id="${'myModal' + {person.getId()}}" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form" id="editForm" th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}">
                                                <div class="container text-center">
                                                    <div class="form-group row d-flex justify-content-lg-center">
                                                        <div class="col-xs-2">
                                                            <label for="id"><b>ID</b></label>
                                                            <input type="text" class="form-control" id="id" placeholder="ID" th:value="${person.getId()}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row d-flex justify-content-lg-center">
                                                        <div class="col-xs-2">
                                                            <label th:attr="for='first_name' + ${person.getId()}">First name</label>
                                                            <input type="text" th:value="${person.getFirstName()}" name="editFirstName" class="form-control" th:attr="id='first_name' + ${person.getId()}" placeholder="First name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row d-flex justify-content-lg-center">
                                                        <div class="col-xs-2">
                                                            <label th:attr="for='last_name' + ${person.getId()}">Last name</label>
                                                            <input type="text" th:value="${person.getLastName()}" name="editLastName" class="form-control" th:attr="id='last_name' + ${person.getId()}" placeholder="Last name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row d-flex justify-content-lg-center">
                                                        <div class="col-xs-2">
                                                            <label th:attr="for='age' + ${person.getId()}">Age</label>
<!--                                                            <select th:value="${person.getAge()}" th:attr="id='age' + ${person.getId()}" name="editAge" class="form-control">-->
<!--                                                                <option th:each="i : ${#numbers.sequence(0, 140)}" th:value="${i}"-->
<!--                                                                        th:text="${i}" th:selected="${person.getAge() == i}">-->
<!--                                                                </option>-->
<!--                                                            </select>-->
                                                            <input type="text" th:value="${person.getAge()}" name="editAge" class="form-control" th:attr="id='age' + ${person.getId()}" placeholder="Age">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row d-flex justify-content-lg-center">
                                                        <div class="col-xs-2">
                                                            <label th:attr="for='email' + ${person.getId()}">Email</label>
                                                            <input type="text" th:value="${person.getEmail()}" name="editEmail" class="form-control" th:attr="id='email' + ${person.getId()}" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row d-flex justify-content-lg-center">
                                                        <div class="col-xs-2">
                                                            <label th:attr="for='password' + ${person.getId()}">Password</label>
                                                            <input type="text" th:value="${person.getPassword()}" name="editPassword" class="form-control" th:attr="id='password' + ${person.getId()}" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row d-flex justify-content-lg-center">
                                                        <div class="col-xs-2">
                                                            <label th:attr="for='role' + ${person.getId()}">Role</label><br>
                                                            <select class="custom-select" multiple size="2" name="select" aria-label="multiple select" th:attr="id='role' + ${person.getId()}">
                                                                <option th:each="role : ${listRoles}"
                                                                        th:value="${role.getId()}"
                                                                        th:text="${role.getRole()}"
                                                                        th:selected="${person.roles.contains(role)}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary ml-2">Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <!-- =========================EDIT-->
                        <!-- =========================DELETE-->
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    th:attr="data-target='#myModalDel' + ${person.getId()}">Delete</button>
                            <div th:id="${'myModalDel' + {person.getId()}}" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container text-center font-weight-bold d-flex justify-content-lg-center">
                                                <form class="form">
                                                    <div class="form-group">
                                                        <label for="idDel"><b>ID</b></label>
                                                        <input type="text" class="form-control" id="idDel" th:value="${person.getId()}" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="firstNameDel">First Name</label>
                                                        <input type="text" th:value="${person.getFirstName()}" class="form-control" id="firstNameDel" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastNameDel">Last name</label>
                                                        <input type="text" th:value="${person.getLastName()}" class="form-control" id="lastNameDel" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ageDel">Age</label>
                                                        <input type="text" th:value="${person.getAge()}" class="form-control" id="ageDel" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailDel">Email</label>
                                                        <input type="text" th:value="${person.getEmail()}" class="form-control" id="emailDel" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="roleDel">Role</label><br>
                                                        <select class="custom-select" multiple size="2" name="select" aria-label="multiple select" id="roleDel" disabled>
                                                            <option th:each="role : ${listRoles}"
                                                                    th:value="${role.getId()}"
                                                                    th:text="${role.getRole()}"
                                                                    th:selected="${person.roles.contains(role)}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form class="form" th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <!-- =========================DELETE-->
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- Option 2: jQuery, Popper.js, and Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>